%{ for group in vms ~}
[${group.name}]
%{ for vm in group.instances ~}
${vm["name"]}   ansible_host=${vm.network_interface.0.nat_ip_address}   fqdn=${tobool(vm.hostname == "") ? vm.fqdn : vm.hostname}
%{ endfor ~}
%{ endfor ~}
 